@font-face {
  font-family: myFont;
  src: url(NerkoOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
}

header {
  background-image: url(slike/test.jpg);
  height: 68vh;
  background-size: cover;
  font-size: 35px;
}
ul {
  float: right;
  list-style-type: none;
  margin-top: 10px;
}
ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: rgb(23, 23, 172);
}

.wavy {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wavy span {
  font-size: 170px;
  position: relative;
  display: inline-block;
  color: rgb(23, 23, 172);
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

/* ********************************************************************************************************** */

.mainPart {
  background-image: url("slike/test1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#quiz div {
  font-size: 20px;
  padding: 5px;
  margin-top: 12px;
}

#quiz div .q {
  font-size: 24px;
}

.btn_end {
  height: 80px;
  width: 140px;
  padding: 5px;
  font-size: 20px;
  margin-top: 20px;
  background-color: rgb(23, 23, 172);
  color: white;
  cursor: pointer;
}

.btn_end:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  display: flex;
  justify-content: center;
}

.result {
  text-align: center;
}

@media only screen and (max-width: 700px){
  .wavy span {
    font-size: 100px;
  }

  #quiz div {
    font-size: 17px;
    padding: 5px;
    margin-top: 12px;
  }
}